/* Imporst START */
@import url('/css/fonts.css');
@import url('/css/base.css');
@import url('/css/vars.css');
/* Imports END */

/* Header styles START */
.header {
    box-shadow: 0px 8px 50px rgba(0, 94, 210, 0.1);
}
.header__top {
    padding: 13px 0;
}

@media (min-width: 768px) {
    .header__top {
        border-bottom: 1px solid #E4E4E4;
    }
}

.container {
}
.header__top-inner {
}
.header__logo {
}
.head-logo {
    max-width: 123px;
}

@media (min-width: 768px) {
    .head-logo {
        max-width: 159px;
    }
}

.header__contact {
}

.contact-email {
    color: var(--color-gray);
}
.contact-phone {
    color: var(--color-main-text);
}
.header__bottom {
    padding: 25px 0;
}
.header__bottom-inner a {
    color: var(--color-main-text);
}
.header__catalog-link {
}
.icon {
    width: 20px;
    height: 20px;
}
.header__bottom-mobile {
}

.header-btn-burger {
}
.burger-line {
    display: block;
    width: 14px;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-bottom: 4px;
}

.burger-line:last-child{
    margin-bottom: 0;
}

.header__navbar {
    padding: 0;
}
.navbar {
}
.header__navbar-list {
}
.nav {
}
.list-item {
}
.nav-link {
    padding: 0 16px;
    color: var(--color-main-text);
}
.dropdown-toggle {
}
.dropdown-menu {
}
.dropdown-menu-dark {
}
.dropdown-item {
}
/* Header styles END */